.card-statistic {
    border-radius: 5px;
    background-color: whitesmoke;
}

.statistic .col-md-4{
    border-radius: 5px 0 0 5px ;
}

.statistic .col-md-3:nth-child(1) .card-statistic .col-4{
    background-color: #5F98EF;
}

.statistic .col-md-3:nth-child(2) .card-statistic .col-4{
    background-color: #7BB972;
}

.statistic .col-md-3:nth-child(3) .card-statistic .col-4{
    background-color: #89CBF2;
}

.statistic .col-md-3:nth-child(4) .card-statistic .col-4{
    background-color: #F2A846;
}

.bx-light {
    color: white;
}

.bx-primary {
    color: #5F98EF;
}

.card-spacer {
    padding: 20px;
}
