/* .up-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

p{
    margin: 0;
}

.img-ava{
    height: 4rem;
}

.nama-lengkap{
    /* font-size: 1.6em; */
    /* font-weight: bold; */
}

.kelas{
    /* font-size: 0.9em; */
}


/* MID DETAIL */
.mid-detail{
    /* display: flex; */
    /* margin:0 0 0 0;
    padding: 0 0 0 0; */
}

.email{
    /* margin:0 0 0 0; */
}

.nisn{
    /* margin:0 0 0 0; */
}

/* .mid-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 0;
} */

.email-content, .nisn-content{
    border-radius: 5px;    
    background-color: #297DFC;
}

.email-content p{
    color: white;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 0; */
}

.nisn-content p{
    /* background-color: #297DFC; */
    color: white;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 0; */
}

.pelanggaran{
    /* width: 80%; */
    border-radius: 5px;    
}

/* Pelanggaran */

/* MOBILE */
/* .nama-lengkap{
    font-size: 1.1em;
    font-weight: bold;
    margin: 1rem 0 0 0;
}

.kelas{
    font-size: 0.8em;
} */