:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: white;
    --theme-color: #009879;
    --first-color-light: black;
    --black-color: black;
    --biru-tua: #009879;
    --biru-muda: #009879;
    --grey-table: #DBDBDB;
    --grey: #9D9D9D;
    --grey-text: #6c757d;
    --body-font: "Nunito", sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
}

.card{
    border: 1px solid var(--biru-tua);
}

.card-header{
    background-color: var(--biru-tua);
    color: var(--first-color);
    font-size: 1.1rem;
    padding: 0.8rem;
}

.form-control, .form-select{
    border: 1px solid var(--grey);
    color: var(--grey-text);
}

.btn-submit{
    background-color: var(--biru-tua);
    color: var(--first-color);
}